---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			I’m a Business Intelligence Engineer with over 5 years of experience in analytics, spanning consulting and tech industries. 
			My work involves building end-to-end data pipelines, crafting self-serve dashboards, driving product growth, and even dabbling in machine learning models. 
			I enjoy collaborating with others while exploring technical challenges like designing reusable frameworks and creating robust data orchestration.
		</p>
		<p>Some fun facts about me:</p>
		<ul class="list-inside list-disc" role="list">
			<li>According to MBTI, I’m 60% extroverted and 40% introverted—so I sometimes jokingly say that I have a half-and-half personality. </li>
			<li>I started cycling after moving to Seattle 3 years ago. From wobbly beginner rides to cruising at a 15mph average, I’ve come a long way. If you’re a fellow cycling enthusiast, there’s a good chance we might pass each other on a summer ride!</li>
		</ul>
	</div>
</PageLayout>
